package layoutcomponents

templ Breadcrumb(breadcrumb string) {
	if breadcrumb != "" {
		<div class="hidden min-w-0 items-center gap-2 text-sm text-on-surface-variant sm:flex" aria-label="Você está em">
			<span class="text-outline font-semibold">|</span>
			<span class="truncate translate-y-0.5 text-outline">{ breadcrumb }</span>
		</div>
	}
}
