package layoutcomponents

templ Breadcrumb(breadcrumb string) {
	if breadcrumb != "" {
		<div class="hidden min-w-0 items-center gap-2 text-base text-on-surface sm:flex" aria-label="Você está em">
			<span class="truncate font-semibold text-outline-variant">/ { breadcrumb }</span>
		</div>
	}
}
