# .gitignore
# Go build
bin/
*.exe
*.out

# Docker
.env
.env.docker
postgres-data/

# Local Go build artifacts (do not commit)
.gocache/
.gotmp/

# IDEs
.vscode/
.idea/

samples/
secrets/
tmp/
tools/


