:root,

.light {
  --md-sys-color-primary: rgb(70 93 145);
  --md-sys-color-surface-tint: rgb(70 93 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(217 226 255);
  --md-sys-color-on-primary-container: rgb(46 69 120);
  --md-sys-color-secondary: rgb(63 104 55);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(191 240 177);
  --md-sys-color-on-secondary-container: rgb(39 80 33);
  --md-sys-color-tertiary: rgb(109 83 139);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(239 219 255);
  --md-sys-color-on-tertiary-container: rgb(85 59 113);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(26 27 32);
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(26 27 32);
  --md-sys-color-surface-variant: rgb(225 226 236);
  --md-sys-color-on-surface-variant: rgb(68 70 79);
  --md-sys-color-outline: rgb(117 119 128);
  --md-sys-color-outline-variant: rgb(197 198 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 54);
  --md-sys-color-inverse-on-surface: rgb(241 240 247);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 25 68);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(46 69 120);
  --md-sys-color-secondary-fixed: rgb(191 240 177);
  --md-sys-color-on-secondary-fixed: rgb(0 34 1);
  --md-sys-color-secondary-fixed-dim: rgb(164 211 150);
  --md-sys-color-on-secondary-fixed-variant: rgb(39 80 33);
  --md-sys-color-tertiary-fixed: rgb(239 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(39 13 67);
  --md-sys-color-tertiary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(85 59 113);
  --md-sys-color-surface-dim: rgb(218 217 224);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 250);
  --md-sys-color-surface-container: rgb(238 237 244);
  --md-sys-color-surface-container-high: rgb(232 231 239);
  --md-sys-color-surface-container-highest: rgb(226 226 233);
  --md-extended-color-custom-color1-color: rgb(46 98 140);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(205 229 255);
  --md-extended-color-custom-color1-on-color-container: rgb(11 74 114);
}

.light-medium-contrast {
  --md-sys-color-primary: rgb(27 52 102);
  --md-sys-color-surface-tint: rgb(70 93 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(85 108 161);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(22 62 18);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(77 119 68);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(67 42 95);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(125 97 155);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(26 27 32);
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(15 17 22);
  --md-sys-color-surface-variant: rgb(225 226 236);
  --md-sys-color-on-surface-variant: rgb(52 54 62);
  --md-sys-color-outline: rgb(80 82 90);
  --md-sys-color-outline-variant: rgb(107 109 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 54);
  --md-sys-color-inverse-on-surface: rgb(241 240 247);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  --md-sys-color-primary-fixed: rgb(85 108 161);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(60 84 135);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(77 119 68);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(53 94 46);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(125 97 155);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(99 73 128);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(198 198 205);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 250);
  --md-sys-color-surface-container: rgb(232 231 239);
  --md-sys-color-surface-container-high: rgb(221 220 227);
  --md-sys-color-surface-container-highest: rgb(209 209 216);
  --md-extended-color-custom-color1-color: rgb(0 57 91);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(62 113 155);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
}

.light-high-contrast {
  --md-sys-color-primary: rgb(14 42 92);
  --md-sys-color-surface-tint: rgb(70 93 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(48 72 123);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(11 52 8);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(42 82 35);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(57 32 85);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(87 61 116);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(26 27 32);
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(225 226 236);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(42 44 51);
  --md-sys-color-outline-variant: rgb(71 73 81);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 54);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  --md-sys-color-primary-fixed: rgb(48 72 123);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(23 49 98);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(42 82 35);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(18 59 14);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(87 61 116);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(64 38 92);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(184 184 191);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 240 247);
  --md-sys-color-surface-container: rgb(226 226 233);
  --md-sys-color-surface-container-high: rgb(212 212 219);
  --md-sys-color-surface-container-highest: rgb(198 198 205);
  --md-extended-color-custom-color1-color: rgb(0 47 76);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(16 77 117);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
}

.dark {
  --md-sys-color-primary: rgb(175 198 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(20 47 96);
  --md-sys-color-primary-container: rgb(46 69 120);
  --md-sys-color-on-primary-container: rgb(217 226 255);
  --md-sys-color-secondary: rgb(164 211 150);
  --md-sys-color-on-secondary: rgb(16 56 12);
  --md-sys-color-secondary-container: rgb(39 80 33);
  --md-sys-color-on-secondary-container: rgb(191 240 177);
  --md-sys-color-tertiary: rgb(217 186 250);
  --md-sys-color-on-tertiary: rgb(61 36 89);
  --md-sys-color-tertiary-container: rgb(85 59 113);
  --md-sys-color-on-tertiary-container: rgb(239 219 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(226 226 233);
  --md-sys-color-surface-variant: rgb(68 70 79);
  --md-sys-color-on-surface-variant: rgb(197 198 208);
  --md-sys-color-outline: rgb(143 144 153);
  --md-sys-color-outline-variant: rgb(68 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(47 48 54);
  --md-sys-color-inverse-primary: rgb(70 93 145);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 25 68);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(46 69 120);
  --md-sys-color-secondary-fixed: rgb(191 240 177);
  --md-sys-color-on-secondary-fixed: rgb(0 34 1);
  --md-sys-color-secondary-fixed-dim: rgb(164 211 150);
  --md-sys-color-on-secondary-fixed-variant: rgb(39 80 33);
  --md-sys-color-tertiary-fixed: rgb(239 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(39 13 67);
  --md-sys-color-tertiary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(85 59 113);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(56 57 63);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(26 27 32);
  --md-sys-color-surface-container: rgb(30 31 37);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
  --md-extended-color-custom-color1-color: rgb(154 203 250);
  --md-extended-color-custom-color1-on-color: rgb(0 51 82);
  --md-extended-color-custom-color1-color-container: rgb(11 74 114);
  --md-extended-color-custom-color1-on-color-container: rgb(205 229 255);
}

.dark-medium-contrast {
  --md-sys-color-primary: rgb(208 220 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(4 35 85);
  --md-sys-color-primary-container: rgb(121 144 199);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(185 233 171);
  --md-sys-color-on-secondary: rgb(3 45 3);
  --md-sys-color-secondary-container: rgb(112 156 101);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(235 212 255);
  --md-sys-color-on-tertiary: rgb(50 25 78);
  --md-sys-color-tertiary-container: rgb(162 133 193);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 70 79);
  --md-sys-color-on-surface-variant: rgb(219 220 230);
  --md-sys-color-outline: rgb(176 177 187);
  --md-sys-color-outline-variant: rgb(142 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(47 71 121);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 15 47);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(27 52 102);
  --md-sys-color-secondary-fixed: rgb(191 240 177);
  --md-sys-color-on-secondary-fixed: rgb(0 22 0);
  --md-sys-color-secondary-fixed-dim: rgb(164 211 150);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 62 18);
  --md-sys-color-tertiary-fixed: rgb(239 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(28 1 56);
  --md-sys-color-tertiary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(67 42 95);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(67 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 35);
  --md-sys-color-surface-container: rgb(38 40 45);
  --md-sys-color-surface-container-high: rgb(49 50 56);
  --md-sys-color-surface-container-highest: rgb(60 61 67);
  --md-extended-color-custom-color1-color: rgb(193 224 255);
  --md-extended-color-custom-color1-on-color: rgb(0 40 66);
  --md-extended-color-custom-color1-color-container: rgb(100 149 193);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
}

.dark-high-contrast {
  --md-sys-color-primary: rgb(236 239 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(171 194 253);
  --md-sys-color-on-primary-container: rgb(0 10 36);
  --md-sys-color-secondary: rgb(205 253 189);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(160 207 147);
  --md-sys-color-on-secondary-container: rgb(0 15 0);
  --md-sys-color-tertiary: rgb(248 236 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(213 182 246);
  --md-sys-color-on-tertiary-container: rgb(21 0 44);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 70 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(239 239 249);
  --md-sys-color-outline-variant: rgb(193 194 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(47 71 121);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 15 47);
  --md-sys-color-secondary-fixed: rgb(191 240 177);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(164 211 150);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 22 0);
  --md-sys-color-tertiary-fixed: rgb(239 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 1 56);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(79 80 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 31 37);
  --md-sys-color-surface-container: rgb(47 48 54);
  --md-sys-color-surface-container-high: rgb(58 59 65);
  --md-sys-color-surface-container-highest: rgb(69 70 76);
  --md-extended-color-custom-color1-color: rgb(230 241 255);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(150 199 246);
  --md-extended-color-custom-color1-on-color-container: rgb(0 12 25);
}
