// internal/adapters/inbound/http/web/assets/templates/pages/home.templ
package pages

import (
	"sonnda-api/internal/adapters/inbound/http/web/templates/components/features/patients"
	"sonnda-api/internal/adapters/inbound/http/web/templates/layouts"
)

type HomeViewModel struct {
	UserName string
	Role     string
	Patients []patientcomponents.PatientItem
}

templ Home(vm HomeViewModel) {
	@layouts.Dashboard(layouts.DashboardLayoutProps{
		Title:    "Dashboard",
		UserName: vm.UserName,
		Role:     vm.Role,
	}) {
		@patientcomponents.PatientList(vm.Patients)
	}
}
