/* internal/adapters/inbound/http/web/styles/input.css */
@import "./theme.css";
@import "tailwindcss";

@theme {
  --color-primary: var(--md-sys-color-primary);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-color-on-primary-container);
  --color-secondary: var(--md-sys-color-secondary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --color-tertiary: var(--md-sys-color-tertiary);
  --color-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --color-error: var(--md-sys-color-error);
  --color-on-error: var(--md-sys-color-on-error);
  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
  --color-outline: var(--md-sys-color-outline);
  --color-outline-variant: var(--md-sys-color-outline-variant);
  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);
  --color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);
}

@layer components {
  .btn {
    @apply 
      inline-flex items-center justify-center 
      min-h-12 px-4 py-1 
      text-sm font-medium 
      rounded-full 
      whitespace-nowrap;
  }

  /* DEFAULT (branding principal) */
  .btn--default {
    background: var(--gradient-brand-default);
    color: white;
  }

  .btn--default:hover {
    background: var(--color-primary); /* seu secondary do tema */
  }

  /* OUTLINE */
  .btn--outline {
    @apply border text-primary;
    border-color: currentColor;
  }

  /* TEXT */
  .btn--text {
    @apply bg-transparent text-primary;
  }
  
  /* OUTLINE */
  .btn--outline {
    @apply border border-primary bg-transparent text-primary;
  }

}

@media print {
  body {
    font-family: ui-serif, "Times New Roman", Times, serif !important;
  }
}