/* internal/adapters/inbound/http/web/styles/theme.css */
:root {
  --gradient-brand-default: linear-gradient(
    90deg,
    var(--md-sys-color-primary) 0%,
    var(--md-sys-color-tertiary) 100%
  );
}

.light {
  /* Primary */
  --md-sys-color-primary: rgba(71, 111, 254, 1);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(210 224 254);
  --md-sys-color-on-primary-container: rgb(20 47 96);
  /* Secondary */
  --md-sys-color-secondary: rgba(105, 198, 105, 1);
  --md-sys-color-on-secondary: rgba(255, 255, 255, 1);
  --md-sys-color-secondary-container: rgba(216, 243, 220, 1);
  --md-sys-color-on-secondary-container: rgba(27, 67, 50, 1);
  /* Tertiary */
  --md-sys-color-tertiary: rgba(56, 182, 255, 1);
  --md-sys-color-on-tertiary: rgba(0, 26, 44, 1);
  --md-sys-color-tertiary-container: rgb(187 235 255);
  --md-sys-color-on-tertiary-container: rgb(0 53 87);

  /* Alert Colors */
  /* Error */
  --md-sys-color-error: rgba(229, 78, 78, 1);
  --md-sys-color-on-error: rgba(38, 38, 38, 1);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);

  /* Warning */
  --md-sys-color-warning: rgba(255, 199, 39, 1);
  --md-sys-color-on-warning: rgba(38, 38, 38, 1);
  --md-sys-color-warning-container: rgb(241, 212, 131);
  --md-sys-color-on-warning-container: rgb(250, 187, 15);

  /* Success */
  --md-sys-color-success: rgba(105, 198, 105, 1);
  --md-sys-color-on-success: rgba(38, 38, 38, 1);
  --md-sys-color-success-container: rgba(216, 243, 220, 1);
  --md-sys-color-on-success-container: rgba(27, 67, 50, 1);
  
  /* Info */
  --md-sys-color-info: rgba(56, 182, 255, 1);;
  --md-sys-color-on-info: rgba(38, 38, 38, 1);
  --md-sys-color-info-container: rgb(187 235 255);
  --md-sys-color-on-info-container: rgb(0 53 87);


  /* BACKGROUND*/
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(26 27 32);
  /* SURFACES -- São camadas colocadas em cima do background.*/
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(26 27 32);
  --md-sys-color-surface-variant: rgb(225 226 236);
  --md-sys-color-on-surface-variant: rgb(68 70 79);
  /* OUTLINE */
  --md-sys-color-outline: rgb(200, 204, 218);
  --md-sys-color-outline-variant: rgb(226, 227, 236);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  /* INVERSE */
  --md-sys-color-inverse-surface: rgb(47 48 54);
  --md-sys-color-inverse-on-surface: rgb(241 240 247);
  --md-sys-color-inverse-primary: rgb(175 198 255);
  /* FIXED */
  --md-sys-color-primary-fixed: rgb(210 224 254);
  --md-sys-color-on-primary-fixed: rgb(0 30 80);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(20 47 96);
  --md-sys-color-secondary-fixed: rgb(225 212 255);
  --md-sys-color-on-secondary-fixed: rgb(32 18 75);
  --md-sys-color-secondary-fixed-dim: rgb(196 178 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 44 100);
  --md-sys-color-tertiary-fixed: rgb(187 235 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 35 58);
  --md-sys-color-tertiary-fixed-dim: rgb(127 212 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 53 87);
  --md-sys-color-surface-dim: rgb(218 217 224);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 250);
  --md-sys-color-surface-container: rgb(238 237 244);
  --md-sys-color-surface-container-high: rgb(232 231 239);
  --md-sys-color-surface-container-highest: rgb(226 226 233);
}

.dark {
  /* Primary */
  --md-sys-color-primary: rgba(71, 111, 254, 1);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(210 224 254);
  --md-sys-color-on-primary-container: rgb(20 47 96);
  /* Secondary */
  --md-sys-color-secondary: rgba(105, 198, 105, 1);
  --md-sys-color-on-secondary: rgba(255, 255, 255, 1);
  --md-sys-color-secondary-container: rgba(216, 243, 220, 1);
  --md-sys-color-on-secondary-container: rgba(27, 67, 50, 1);
  /* Tertiary */
  --md-sys-color-tertiary: rgb(31, 157, 230);
  --md-sys-color-on-tertiary: rgb(0 35 58);
  --md-sys-color-tertiary-container: rgb(187 235 255);
  --md-sys-color-on-tertiary-container: rgb(0 53 87);
  /* Error */
  --md-sys-color-error: rgba(229, 78, 78, 1);
  --md-sys-color-on-error: rgba(38, 38, 38, 1);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);

  /* Warning */
  --md-sys-color-warning: rgba(255, 199, 39, 1);
  --md-sys-color-on-warning: rgba(38, 38, 38, 1);
  --md-sys-color-warning-container: rgb(241, 212, 131);
  --md-sys-color-on-warning-container: rgb(250, 187, 15);

  /* Success */
  --md-sys-color-success: rgba(105, 198, 105, 1);
  --md-sys-color-on-success: rgba(38, 38, 38, 1);
  --md-sys-color-success-container: rgb(13, 43, 17);
  --md-sys-color-on-success-container: rgba(27, 67, 50, 1);
  
  /* Info */
  --md-sys-color-info: rgba(56, 182, 255, 1);;
  --md-sys-color-on-info: rgba(38, 38, 38, 1);
  --md-sys-color-info-container: rgb(187 235 255);
  --md-sys-color-on-info-container: rgb(0 53 87);

  /* BACKGROUND*/
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  /* SURFACES -- São camadas colocadas em cima do background.*/
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(226 226 233);
  --md-sys-color-surface-variant: rgb(68 70 79);
  --md-sys-color-on-surface-variant: rgb(197 198 208);
  /* OUTLINE */
  --md-sys-color-outline: rgb(143 144 153);
  --md-sys-color-outline-variant: rgb(68 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(47 48 54);
  --md-sys-color-inverse-primary: rgb(71 111 254);
  --md-sys-color-primary-fixed: rgb(210 224 254);
  --md-sys-color-on-primary-fixed: rgb(0 30 80);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(20 47 96);
  --md-sys-color-secondary-fixed: rgb(216 243 220);
  --md-sys-color-on-secondary-fixed: rgb(0 54 30);
  --md-sys-color-secondary-fixed-dim: rgb(144 226 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 67 50);
  --md-sys-color-tertiary-fixed: rgb(187 235 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 35 58);
  --md-sys-color-tertiary-fixed-dim: rgb(156 218 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 53 87);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(56 57 63);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(26 27 32);
  --md-sys-color-surface-container: rgb(30 31 37);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
  }

